relabeled_chess_moves.csv
chessbench*
chess_moves_with*
fen_analysis.csv
models/
DiffTune/trainer/old_models/
DiffTune/trainer/model*
DiffTune/trainer/__pycache__/
DiffTune/model/__pycache__/
DiffTune/diffusion/__pycache__/
DiffTune/data/__pycache__/
DiffTune/data/data*
__pycache__/